.beautybutton {
    border: 1px solid #333;
    background: rgb(108, 197, 226);
}

.beautybutton:hover {
    background: lightblue;
    border: none;
}

.bg{
    background-image: url("../../assets/yifu.jpg");
    width: 300px;
    height: 300px;
}
